services:
  db:
    image: postgres:16
    container_name: ec-db-1
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydb"]
      interval: 3s
      timeout: 3s
      retries: 20

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ec-backend-1
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      GO_ENV: dev
      PORT: "8080"

      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"

      JWT_SECRET: mysecret
      API_DOMAIN: localhost
      FE_URL: http://localhost:3000
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ec-frontend-1
    restart: always
    depends_on:
      - backend
    environment:
      VITE_API_BASE_URL: http://localhost:8080
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "3000"]

volumes:
  pgdata:
